<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="coneccion" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=bdd_helpdesk;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="HelpDeskConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=bdd_helpdesk;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="Aplication_process.Properties.Settings.bdd_helpdeskConnectionString"
      connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=bdd_helpdesk;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
<!--Source=(localdb)\MSSQLLocalDB;Initial Catalog=bdd_helpdesk;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False--> 